body{
  margin: 0;
  padding: 0;
}
h1{
  font-family: "Arial";
  color: #FFFFFF;
  margin:0;
  padding-top:10px;
}
h2{
  margin: 0;
  font-family: Arial;
  color: #FFFFFF;
  padding-bottom:10px;
}
.header{
  margin:0;
  text-align: center;
  vertical-align: middle;
  background-color: #484848;
}
.graph{

}
#sketch_holder{
  display: table;
  background-color:  #FFFFFF;
;
}
#price{
  padding :50px;
  padding-bottom:20px;
  color: #000000;
}
.estimation{
  height: 75vh;
  background-size: 200vh;
  background-image: url('estimationback.png');
  background-color: #484848}

.in{
  background-color:rgba(255,255,255,.0);

    border: 1px solid #ccc;
    border-radius: 4px;

    background-color: #f2f2f2;
}
#calc{
  position:relative;
  left:38%;
  width:20%;
  border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
}

#calc2{
  position:relative;
  left:38%;
  width:20%;
  border-radius: 5px;
   background-color: #484848;
   padding: 20px;
}

#leftall{
  text-align:left ;
}
input[type=text], select {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #484848;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#bottom{
  background-color: #f2f2f2;
  color: #484848;
}

#bottom:hover{
    background-color: #45a049;
}

button:hover {
    background-color: #45a049;
}

#container{
  text-align:center;
  height: 75vh;
  background-color: rgba(255,255,255,.5);
}
#booking{
  padding :50px;
  padding-bottom:20px;
  color: #000000;
}
.booking{
  height: 75vh;
  background-image: url("calcback.jpg");
  background-size: 175vh;
  background-color:  #FFFFFF;
}
#container2{
    text-align:center;
    height: 75vh;
    background-color: rgba(255,255,255,.5);
}
.footer{
  height: 10vh;
  background-color: #484848;
}
